body{
	color: white;
	background-color:  #1bbc9b;

}
.profile-pic{
	border-radius: 50%
	
}
.site-header{
	background-color: #1bbbc9b;
	height: 100vh;
	font-family: monospace;
}
.profile-pic{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	box-shadow: 2px 5px 22px;
}
.site-content{
	margin: 10px;
}